
/* Estilização da scrollbars */

::-webkit-scrollbar{
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track{
  box-shadow: insert 0 0 5px #a5aaad;
  border-radius: 10px;
}

::webkit-scrollbar-thumb{
  background:  #3ea175;
  border-radius: 10px;
}

::webkit-scrollbar-thumb:hover{
  background: #a5aaad;
}

/* Estilizações gerais */

* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(/src/Fonts/Lato/Lato-Regular.ttf);
  font-family: 'Lato-Regular';    
  font-weight: normal;
} 
  

body {
  box-sizing: border-box;
  font-family: 'Lato-Regular', sans-serif;
}

.text-primary-p{
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold{
  font-weight: 700;
}

.text-title{
  color: #2ea466;
}

.text-lightblue{
  color: #469cac;
}

.text-red{
  color: #cc3d38;
}

.text-yellow{
  color:#a98921;
}

.text-green{
  color: #3b9668;
}

.containner{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr repeat(3,1fr);
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
  'sidebar nav nav nav'
  'sidebar main main main';
}


@media only screen and (max-width: 978px){
  .containner{
    grid-template-columns: 1fr;
    grid-template-rows: 02fr 3fr;
    grid-template-areas: 'nav' 'main';
  }
}